/* @override 
	http://localhost/css/default.css
	http://twelve.s12.in/css/default.css */

/* ==|== default.css =======================================================
   Extend normalize.css...
   attempting to create a complete cross-browser/platform UX...
   quite frankly, because we don't need microsoft's crappy...
   UX elements making our page look like trash.
   ========================================================================== */

body {
	background: #333; /* never use white it's too bright */
	color: #eee; /* easy on the eyes please */
	font: normal 16px/1.4em "helvetica-55-roman"; /* force server-side font */
	/* it's imperative that you force a default font size for your em measurements - ours is standard */
}

h1, h2, h3,
h4, h5, h6, p, pre,
summary, blockquote {
	font-weight: normal; line-height: normal;/* since we're on custom fonts */
	margin: 0 0 .6em; padding: 0;
}

h1 { font: normal 2em/normal "helvetica-95-black" } /*save some chars when you can*/
h2 { font: normal 1.6em/normal "helvetica-85-heavy" }
h3 { font: normal 1.3em/normal "helvetica-75-bold" }
h4, h5, h6, a { font: normal 1em/normal "helvetica-75-bold" }

a, em, mark,
inserted, del,
samp, small, strike { text-shadow: none } 

del, strike { color: #888; }

ul {
	list-style-type: none;
}

ul li:before {
	content: "\2605";
	margin: 0 1em 0 -1em;
	text-shadow: none;
}
li ul li:before { content: "\27A5" }
li li ul li:before  { content: "\276F" }
li li li ul li:before  { content: "\2022" }
li li li li ul li:before  { content: "\2023" }
li li li li li ul li:before  { content: "\2013" }

ol { list-style-type: decimal-leading-zero }

dl { font: normal 1em/1.4em "palai", Palatino, "Palatino Linotype", serif }
/* Definitions should use serif fonts */

dl ul li:before { content: "\2022" }
dl ol ul li:before { content: "\2013" }

dt { letter-spacing: .3em } /* there should be some extra space here */

dd.speech { font-style: italic }

aside {
	float: right;
	width: 13.45%;
	clear: both;
	margin: 0 1.54% 1em;
	padding: .25em .5em;
	border: 1px solid #333;
	font-size: .8em;
}

svg { width: 100%; height: 100%; overflow: hidden }

.inline { display: inline-block; }

form { text-align: right; }

form fieldset {
	border: 2px groove;
	margin: .25em; padding: .25em;
}

fieldset legend {
	padding: 0 .5em 0 .25em;
	text-align: left;
}

form label:hover {
	border-radius: 2px;
	background: #666; color: #fff; text-shadow: none;
}

form label, form input[type=file], form input[type=submit],
form input[type=reset], form input[type=button] {
	display: block;
	float: left;
	padding: .25em;
	min-width: 31%;
}

form input[type=image] {
	display: block; float: left;
	padding: .25em; vertical-align: middle;
}

form .zip { width: 5em; }

form select { vertical-align: top; }

form textarea { display: block; }

form output {
	display: inline-block; padding: 0 .5em; margin: 0 0 0 .25em;
	min-width: 1em; min-height: 1.4em;
	background: #000; color: #0f0;
	border: 1px inset; border-top: 1px solid #666; border-left: 1px solid #666;
	box-shadow: 0px .7em 5px 0px rgba(255, 255, 255, .33) inset;
	font-family: "proggysquare"; text-shadow: none;
	vertical-align: bottom; text-align: center;
}

form input[readonly], form input[readonly=readonly] {
	font-style: italic; color: #999;
}

.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all {
	height: 2px; margin-top: .6em;
	background: #999; border: 1px solid #666;
	box-shadow: 0px 1px 1px #000 inset;
	border-radius: 10em;
}

a.ui-slider-handle.ui-state-default.ui-corner-all {
	background: none; border: none;
	width: 26px; height: 28px;
	background-image: url('/img/bg-slide.png');
	outline: none;
	margin-top: -10px;
}

.webkit input[type=range] {
	-webkit-appearance: none;
	background: #999; box-shadow: inset 0px 1px 1px #000, 0px 1px 0px 1px rgba(255,255,255,.59);
	border: 1px solid #666; border-radius: 10em;
	height: 3px; vertical-align: super; outline: none;
}

.webkit input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	background: none; border-radius: none; border: none;
	background-image: url('/img/bg-slide.png');
	outline: none; width: 26px; height: 28px;
}

.ui-datepicker-week-col, .ui-datepicker-week-col.ui-state-hover  {
	text-align: center;
}

form input[type=checkbox], form input[type=radio] { vertical-align: top; margin-top: .25em; }

.webkit form input[type=checkbox], .webkit form input[type=radio] {
	-webkit-appearance: none;
	width: 1em; height: 1em; border-radius: 4px;
	outline: none; background: #666; border: 1px solid #333333;
	box-shadow: inset 0px 1px 3px black, 0px 1px 1px 0px white;
}

.webkit form input[type=checkbox][checked=checked], .webkit form input[type=radio][checked=checked] {
	background: #666 url(/ui/images/ui-icons_ff00ff_256x240.png) no-repeat -64.5px -145px;
}

.webkit form input[type=radio] { 	border-radius: 2em; }
.webkit form input[type=radio][checked=checked]{ background-position: -80.5px -145px}

a.inputx {
	display: block; position: relative;
	margin-top: -1.4em; margin-left: -2em; width: 1em; height: 1em;
	left: 100%; background: transparent url(/ui/images/ui-icons_999999_256x240.png) no-repeat -32.5px -193px;
}

/**
 * response testing
 */


#bsize {
	position: fixed; top: 0; right: 0;
	color: #0f0; font-family: 'proggysquare';
	background: rgba(0,0,0,0.59); border-radius: 4px;
	box-shadow: 0px 2px 7px rgba(0,0,0,0.59); cursor: pointer;
	margin: 1em; padding: .5em; display: none;
}

#bsize .menu {
	display: none;
}

#bsize a.drop {
	display: inline-block;
	width: 16px; height: 16px;
	background: transparent url(/ui/images/ui-icons_ff00ff_256x240.png) no-repeat -64.5px -1px;
}

#bsize a.x {
	display: inline-block;
	width: 16px; height: 16px;
	background: transparent url(/ui/images/ui-icons_ff00ff_256x240.png) no-repeat -96.5px -129px;}