#top h1, #top h2 {
	margin: 0;
}

#site-title {
	color: #ffa500;
	font-size: 2.5em;
	letter-spacing: -0.1em;
}

#site-slogan {
	color: #fff;
	font-family: "helvetica-25-ultra_light";
	font-size: .8em;
	letter-spacing: normal;
}

#site-description {
	text-align: right;
}

header.container {
	background-image: linear-gradient(top, #333 70%, #222);
	padding-top: 1em; padding-bottom: 1em;
}

section.container {
	background: #ccc;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #333;
	color: #333;
	text-shadow: 0 1px 1px #fff;
}

section.container > h1 {
	margin-top: 1em;
}

#slides {
	background: #aaa; color: #eee;
	border-bottom: 1px solid #333;
	min-height: 20em; height: 20em;
	text-align: left; overflow-y: hidden;
	position: relative; width: 100%; margin: 0; padding: 0;
}

#slides ul {
	margin: 0; padding: 0; position: absolute; width: 100%;
}

#slides .slide {
	display: block; list-style-type: none; margin: 0; padding: 0 2em !important;
	width: 100%; min-height: 20em; max-height: 320px; height: 320px;
	text-shadow: 0px 0px 7px #000,
   -1px -1px 0 #000,  
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000; box-sizing: border-box;
	box-shadow: 0px 0px 1em #000, inset 0px 20em 1em rgba(0,0,0,0.3);
}

#slides .title {
	font: normal 3em/normal "helvetica-95-black";
	display: inline-block; margin: 0.6em 0 0 0;
}

#slides .subtitle {
	font: normal 3em/normal "helvetica-25-ultra_light";
	display: inline-block; margin: 0; text-shadow: 0px 0px 7px #000,
   -1px -1px 0 #000,  
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000;
}

#slides .description p {
	font: normal 1.4em/normal "helvetica-85-heavy";  margin: 0; padding: 0;
}

#slides .slide-0 {
	background: transparent url(../img/slide-one.png) no-repeat left bottom;
}

#slides .slide-1 {
	background: transparent url(../img/slide-two.png) no-repeat right bottom;
}

#slides .slide-2 {
	background: transparent url(../img/slide-three.png) no-repeat right bottom;
}

#slides .slide-3 {
	background: transparent url(../img/slide-four.png) no-repeat left bottom;
}

#slides .slide {
	background-size: cover;
}

#slides .row {
	box-shadow: 0px 0px 2em 1em rgba(0,0,0,0.5);
}

.box svg {
	width: 60%;
	float: right;
	padding: 0 0 0;
	margin: 0 0 12px;
	stroke-width: 3px;
}

#html5 {
	fill: #f1a300;
	stroke: #d16600;
}

#css3 {
	fill: #a9d700;
	stroke: #658100;
}

#gridsystem {
	fill: #00adf8;
	stroke: #0572c9;
	width: 75%;
	margin: -12% 0 -7px -6%;
}

#blocks {
	background-image: linear-gradient(top, #ccc 5%, #bbb 80%, #999);
}

.box { /* Apparently cssfx doesn't support multiple bg-images */
	background-image:
		-webkit-linear-gradient(top, #c9c9c9 33%, #666 66%, #999),
		-webkit-linear-gradient(top, #c9c9c9 33%, #fff 66%, #999);
	background-image:
		-moz-linear-gradient(top, #c9c9c9 33%, #666 66%, #999),
		-moz-linear-gradient(top, #c9c9c9 33%, #fff 66%, #999);
	background-image:
		-o-linear-gradient(top, #c9c9c9 33%, #666 66%, #999),
		-o-linear-gradient(top, #c9c9c9 33%, #fff 66%, #999);
	background-image:
		-ms-linear-gradient(top, #c9c9c9 33%, #666 66%, #999),
		-ms-linear-gradient(top, #c9c9c9 33%, #fff 66%, #999);
	background-image:
		linear-gradient(top, #c9c9c9 33%, #666 66%, #999),
		linear-gradient(top, #c9c9c9 33%, #fff 66%, #999);
	
	background-position: 100% 0, 100% 0;
	background-size: 1px 100%, 2px 100%;
	background-repeat: no-repeat, no-repeat;
	
	box-sizing: border-box;
	padding: 0 2em 2em 0;
}

.box.last {
	background: none;
	box-shadow: none;
}

#cylon {
	background-image: linear-gradient(#aaa, #666);
	padding: 5%;
	border: 1px solid #333;
}

#cylon .socket {
	box-shadow:0px 1px 0px 1px rgba(255,255,255,.33), inset 0px 5px 12px 0px rgba(0,0,0,.59);
	height: 16px;
	background-image: linear-gradient(#080808, #383838);
	border-radius: 16px;
}

@-webkit-keyframes cylonSlide { from { left: 0%; } to { left: 90%; } }
@-moz-keyframes cylonSlide { from { left: 0%; } to { left: 90%; } }
@-o-keyframes cylonSlide { from { left: 0%; } to { left: 90%; } }
@keyframes cylonSlide { from { left: 0%; } to { left: 90%; } }

#cylon .eye {
	position: relative;
	top: -50%;
	left: 0%;
	margin-left: -5%;
	height: 32px;
	width: 32px;
	border-radius: 32px;
	background-image: radial-gradient(rgba(255,0,0,1), rgba(255,0,0,0) 66%);
	-webkit-animation: cylonSlide 1s infinite ease-in-out alternate;
	-moz-animation: cylonSlide 1s infinite ease-in-out alternate;
	-o-animation: cylonSlide 1s infinite ease-in-out alternate;
	animation: cylonSlide 1s infinite ease-in-out alternate;
}

aside { background: #efefef; }

blockquote:before {
	content: '\201c';
	font: normal 2em/normal Georgia;
	display: block; position: relative;
	margin: 0 -.4em; padding: 0; text-align: left;
	margin-bottom: -1em;
}

blockquote {
	display: block; width: 100%;
	margin: 0 auto .3em; padding: 0 1em;
	text-align: left; box-sizing: border-box;
	color: #666; font: bold italic 3em/normal "palai", Palatino, "Palatino Linotype", serif;
	text-shadow: none; background: #fff url(../img/bg-big-box.png) no-repeat center bottom;
	background-size: 100%	52px; padding-bottom: 52px;
}

blockquote:after {
	content: '\201d';
	font: normal 2em/normal Georgia;
	display: block; position: relative;
	margin: 0 -.4em; padding: 0; text-align: right;
	margin-bottom: -.5em; margin-top: -.5em;
}

blockquote span.author {
	font-weight: normal;
	font-size: .5em;
	display: block;
	text-align: right;
	margin-top: -1.6em;
	padding-right: 1em;
}

[class=title], [class=name] { margin: 0; }

video {
	background: #ccc url(../img/bg-big-box.png) no-repeat center bottom;
	background-size: 100%	52px; padding-bottom: 52px; box-sizing: border-box;
}

img.photo {
	width: 100%;
	height: auto;
	background: #ccc url(../img/bg-big-box.png) no-repeat center bottom;
	background-size: 100%	52px; padding-bottom: 52px; box-sizing: border-box;
}

/* ==|== SyntaxHighliter ======================================================= */

div.sh {
	background: #ccc url(../img/bg-big-box.png) no-repeat center bottom;
	background-size: 100%	52px; padding-bottom: 36px; box-sizing: border-box;
}

.syntaxhighlighter {
	height: 20em; border: solid 1px #666; box-sizing: border-box;
}

.syntaxhighlighter a,
.syntaxhighlighter div,
.syntaxhighlighter code,
.syntaxhighlighter table,
.syntaxhighlighter table td,
.syntaxhighlighter table tr,
.syntaxhighlighter table tbody,
.syntaxhighlighter table thead,
.syntaxhighlighter table caption,
.syntaxhighlighter textarea {
	font-weight: normal !important;
	font-size: 11pt !important;
	line-height: normal !important;
	font-family: "proggysquare" !important;
}

.opera .syntaxhighlighter a,
.opera .syntaxhighlighter div,
.opera .syntaxhighlighter code,
.opera .syntaxhighlighter table,
.opera .syntaxhighlighter table td,
.opera .syntaxhighlighter table tr,
.opera .syntaxhighlighter table tbody,
.opera .syntaxhighlighter table thead,
.opera .syntaxhighlighter table caption,
.opera .syntaxhighlighter textarea {
	font-size: 11px !important;
}

footer {margin: 0 0 1em 0;}

#kick-ass-nav a {
	display: block; padding: 0 .5em;
	color: #fff; text-decoration: none; text-shadow: none;
	font: normal 1.5em/normal "helvetica-95-black";
	border-radius: .25em;
}

#kick-ass-nav a:hover {
	background-color: #4c4c4c;
}

#kick-ass-nav ul ul a {
	font-size: 1.25em;
	padding-left: 1em;
}

#kick-ass-nav ul li {
	display: block; float: left;
	background-color: #3c3c3c;
	border-radius: .25em; margin-right: .25em;
}

#kick-ass-nav ul li:last-child {
	margin-right: 0;
}

#kick-ass-nav ul ul li {
	float: none; margin-right: 0;
}

#kick-ass-nav ul li ul {
	visibility: hidden;
	height: 0;
}

#kick-ass-nav ul li:hover ul {
	visibility: visible;
	height: auto;
}








