/* @override 
	http://twelve.s12.in/css/theme_default.css */

/*--this is the example theme styles--*/

/* ==|== Back to the basics =================================================
   Straighten out some globals that normalize.css broke or left out.
   ========================================================================== */
body {
	background: #333; /* never use white it's too bright */
	color: #eee; /* easy on the eyes please */
	font: normal 16px/1.4em "helvetica-55-roman"; /* force server-side font */
	/* it's imperitive that you force a default font size for your em measurements - ours is standard */
}

h1, h2, h3, h4, h5, h6, p {
	font-weight: normal; /* since wer're on custom fonts */
	line-height: normal;
	margin: 0;
	padding: 0;
}

h1 { font: normal 2em/normal "helvetica-95-black"} /*save some chars when you can*/
h2 { font: normal 1.6em/normal "helvetica-85-heavy"}
h3 { font: normal 1.3em/normal "helvetica-75-bold"}
h4, h5, h6, a { font: normal 1em/normal "helvetica-75-bold"}
p { margin: 0 0 1em}

a, em, mark, inserted, del, samp, small, strike {
	text-shadow: none;
}

del, strike {
	color: #888;
}

/* @todo ====================================================================
   - Finish out the global element styling *requires more elements.
   ========================================================================== */

/* ==|== Theme Styling ==============================================================
   Hurray!
   ========================================================================== */
#site-title {
	color: #ffa500;
	font-size: 2.5em;
	letter-spacing: -.15em;
}

#site-slogan {
	color: #fff;
	font-family: "helvetica-25-ultra_light";
	font-size: .8em;
	letter-spacing: normal;
}

#site-description {
	text-align: right;
}

header.container {
	background-image: linear-gradient(top, #333 70%, #222);
	padding-top: 1em; padding-bottom: 1em;
}

section.container {
	background: #ccc;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	color: #333;
	text-shadow: 0 1px 1px #ffffff;
}

section.container > h1 {
	margin-top: 1em;
}

#slides {
	background: #aaa;
	border-bottom: 1px solid #333;
	min-height: 20em; height: 20em;
	text-align: center;
}

#slides h1 {
	color: #eee;
	font: italic bold 2em/10em serif;
	height: 20em;
	text-shadow: 0 48px 33px #000000;
}

.box svg {
	height: 30%;
	width: 60%; max-width: inherit;
	float: right;	
}

#css3-logo {
	fill: #a9d700;
	stroke: #658100;
}