/* Helvetica Neue LT Pro */

@font-face { /* Helvetica Neue LT Pro 25 Ultra Light */
    font-family: 'helvetica-25-ultra_light';
    src: url('helvetica-25-ultra_light.eot?') format('eot'),
         url('helvetica-25-ultra_light.woff') format('woff'),
         url('helvetica-25-ultra_light.ttf') format('truetype'),
         url('helvetica-25-ultra_light.svg#webfontF1c4ocuc') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face { /* Helvetica Neue LT Pro 35 Thin */
    font-family: 'helvetica-35-thin';
    src: url('helvetica-35-thin.eot?') format('eot'),
         url('helvetica-35-thin.woff') format('woff'),
         url('helvetica-35-thin.ttf') format('truetype'),
         url('helvetica-35-thin.svg#webfontF1c4ocuc') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face { /* Helvetica Neue LT Pro 45 Light */
    font-family: 'helvetica-45-light';
    src: url('helvetica-45-light.eot?') format('eot'),
         url('helvetica-45-light.woff') format('woff'),
         url('helvetica-45-light.ttf') format('truetype'),
         url('helvetica-45-light.svg#webfontF1c4ocuc') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face { /* Helvetica Neue LT Pro 55 Roman */
    font-family: 'helvetica-55-roman';
    src: url('helvetica-55-roman.eot?') format('eot'),
         url('helvetica-55-roman.woff') format('woff'),
         url('helvetica-55-roman.ttf') format('truetype'),
         url('helvetica-55-roman.svg#webfontF1c4ocuc') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face { /* Helvetica Neue LT Pro 65 Medium */
    font-family: 'helvetica-65-medium';
    src: url('helvetica-65-medium.eot?') format('eot'),
         url('helvetica-65-medium.woff') format('woff'),
         url('helvetica-65-medium.ttf') format('truetype'),
         url('helvetica-65-medium.svg#webfontF1c4ocuc') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face { /* Helvetica Neue LT Pro 75 Bold */
    font-family: 'helvetica-75-bold';
    src: url('helvetica-75-bold.eot?') format('eot'),
         url('helvetica-75-bold.woff') format('woff'),
         url('helvetica-75-bold.ttf') format('truetype'),
         url('helvetica-75-bold.svg#webfontF1c4ocuc') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face { /* Helvetica Neue LT Pro 85 Heavy */
    font-family: 'helvetica-85-heavy';
    src: url('helvetica-85-heavy.eot?') format('eot'),
         url('helvetica-85-heavy.woff') format('woff'),
         url('helvetica-85-heavy.ttf') format('truetype'),
         url('helvetica-85-heavy.svg#webfontF1c4ocuc') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face { /* Helvetica Neue LT Pro 95 Black */
    font-family: 'helvetica-95-black';
    src: url('helvetica-95-black.eot?') format('eot'),
         url('helvetica-95-black.woff') format('woff'),
         url('helvetica-95-black.ttf') format('truetype'),
         url('helvetica-95-black.svg#webfontF1c4ocuc') format('svg');
    font-weight: normal;
    font-style: normal;

}