@font-face {
	font-family: 'proggysquare';
	src: url('proggysquare.eot');
	src: local('☺'), url('proggysquare.woff') format('woff'), url('proggysquare.ttf') format('truetype'), url('proggysquare.svg#webfontyWj3lQn1') format('svg');
	font-weight: normal !important;
	font-style: normal !important;
	font-size: 11pt !important;
}

.proggysquare {
	font-family: "proggysquare";
}